---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">

		<h2>Microsoft 365</h2>
		<p>Im Microsoft 365 Fundumentles Certifed and have been working with Microsoft 365 for the last 2 years</p>
	</div>
	<div class="stack gap-2 lg:gap-4">

		<h2>Microsoft Azure</h2>
		<p>Im Microsoft Azure Fundumentles Certifed and have been working with Azure for the last 3 years</p>
	</div>
	<div class="stack gap-2 lg:gap-4">

		<h2>AWS</h2>
		<p>I have started learning aws over the last year its a new thing im starting to learn.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
